/*-------------------------------------*\
  #COLORS
\*-------------------------------------*/
:root {
  /* Gray Scale */
  --clr-gray-000: rgb(33, 37, 41);
  --clr-gray-100: rgb(52, 58, 64);
  --clr-gray-200: rgb(73, 80, 87);
  --clr-gray-300: rgb(108, 117, 125);
  --clr-gray-400: rgb(173, 181, 189);
  --clr-gray-500: rgb(206, 212, 218);
  --clr-gray-600: rgb(222, 226, 230);
  --clr-gray-700: rgb(233, 236, 239);
  --clr-gray-800: rgb(248, 249, 250);
  /** UI System **/
  /* Dark */
  --clr-d-red: rgb(255, 69, 58);
  --clr-d-green: rgb(48, 209, 88);
  --clr-d-blue: rgb(10, 132, 255);
  --clr-d-orange: rgb(255, 159, 10);
  --clr-d-purple: rgb(191, 90, 242);
  /* Light */
  --clr-l-red: rgb(255, 59, 48);
  --clr-l-green: rgb(52, 199, 89);
  --clr-l-blue: rgb(0, 122, 255);
  --clr-l-orange: rgb(255, 149, 0);
  --clr-l-purple: rgb(175, 82, 222);
}